#get-HTML-lightbox-bg {
    background: rgba(255,255,255,0.8);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

#get-HTML-lightbox-bg .html-lightbox {
    display: block;
    width: 70%;
    height: 500px;
    background: #fff url('../imag/icons/ajax-loader.gif') 50% 50% no-repeat;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    padding: 60px 20px 20px 20px;

    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -35%;
}
#get-HTML-lightbox-bg .html-lightbox.loaded {
    background: #fff;
}

#get-HTML-lightbox-bg .close-html-lightbox-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#get-HTML-lightbox-bg .html-content-textarea {
    display: block;
    width: 100%;
    padding: 15px;
    resize:none;
    height: 480px;
}